:root {
    --magenta:#AA3378;
    --pastel-pink: #FFC2CF;
    --pastel-purple: #EBB8DB;
    --dark-purple: #2A003A;
    --light-purple: #EFE9F1;
    --white: #fefefe;
 }
 
/********** Globales **********/
h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: italic;
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }

.text-body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.brand-messaging {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
}

.text-style-light { color: #fefefe; }
.text-style-dark { color: #2A003A; }
.text-style-magenta { color: #AA3378; }

.bg-light-purple { background-color: var(--light-purple); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-magenta { background-color: var(--magenta); }

.logo {
    color: var(--dark-purple);
    text-decoration: none;
    font-weight: 800;
    font-size: 28px;
}

.white-logo {
    color: var(--white);
}

.logo span {
    color: var(--magenta);
}

.underline {
    width: 180px;
    height: 4px;
    background: var(--magenta);
    margin: 15px auto 20px auto;
}

@media (min-width: 992px) {
    .underline {
        margin: 15px 0px 20px 0px;
    }
}

 /********** NAV-BAR **********/
 .navbar {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
 }

.active, .nav-link:hover{
    color: var(--magenta) !important;
}

.nav-item-icon {
    font-size: 2rem; 
    color: var(--magenta);
}

.navbar-toggler, .btn {
    border: none;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.dropdown-item:hover{
    background-color: var(--pastel-pink);
}

.dropdown-item:focus {
    color: var(--magenta);
    font-weight: 500;
}


/********** FOOTER **********/
.footer-container {
    margin-top: 50px;
}

.footer-item-icon {
    font-size: 2rem; 
    color: var(--white);
}

.link-item{
    color: var(--white);
}

@media (min-width: 768px) {
    .footer-brand {
        text-align: start;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        gap: 2.5rem;
    }
    .link-item {
        margin-bottom: 0px;
    }
    .footer-redes {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}

/********** TEXT AND IMAGE CONTACT **********/
.img-container {
    display: none;
}

@media (max-width: 576px) {
    .brand-messaging{
        display: none;
    }
}

@media (max-width: 768px) {
    .text-contact {
        text-align: center;
    }
}

@media (min-width: 1200px) { 
    .contact-description{
        font-size: 18px;
    }
    .img-contact {
        width: auto; 
        max-height: 300px;
    }
    .img-container {
        display: flex;
        justify-content: end;
        align-items: end;
    }
    .footer-container {
        margin-top: 0px;
    }
}


/********** FORM **********/
input:focus, textarea:focus, select:focus {
    outline: none !important;
    box-shadow: none !important;
    border:none;
    border-bottom: 4px solid var(--pastel-purple) !important;
  }

.required-tag-form {
    color: var(--magenta);
    font-size: 16px;
}

.input-label, .form-control {
    margin-bottom: 8px;
}

/* Style btn */
.contact-btn {
    background-color: var(--magenta);
    border-radius: 8px;
    color: var(--light-purple);
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    padding: 10px 0px;
    transition: all .4s ease;
    width: 220px;
}

/* Style btn hover */
.contact-btn:hover, .contact-btn:active {
    background-color: var(--pastel-purple) !important;
    color: var(--dark-purple);
    transform: scale(1.1);
}
