:root {
    --magenta:#AA3378;
    --pastel-pink: #FFC2CF;
    --pastel-purple: #EBB8DB;
    --dark-purple: #2A003A;
    --light-purple: #EFE9F1;
    --white: #fefefe;
 }
 
/********** Globales **********/
h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: italic;
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }

.text-body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.brand-messaging {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
}

.text-style-light { color: #fefefe; }
.text-style-dark { color: #2A003A; }
.text-style-magenta { color: #AA3378; }

.bg-light-purple { background-color: var(--light-purple); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-magenta { background-color: var(--magenta); }

.logo {
    color: var(--dark-purple);
    text-decoration: none;
    font-weight: 800;
    font-size: 28px;
}

.white-logo {
    color: var(--white);
}

.logo span {
    color: var(--magenta);
}


 /********** NAV-BAR **********/
 .navbar {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
 }

.active, .nav-link:hover{
    color: var(--magenta) !important;
}

.nav-item-icon {
    font-size: 2rem; 
    color: var(--magenta);
}

.navbar-toggler, .btn {
    border: none;
}

.navbar-toggler:focus, .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.dropdown-item:hover{
    background-color: var(--pastel-pink);
}

.dropdown-item:focus {
    color: var(--magenta);
    font-weight: 500;
}

/************* CONTACT FORM **************/

/* Variables de estilo */
:root {
    --empwf-magenta: #AA3378;
    --empwf-purple: #2A003A;
    --empwf-background-web: #EFE9F1;
    --empwf--pale-pink: #EBB8DB;
    --empwf-pastel-pink: #FFC2CF;
    --teachers-title-font-family: "Teachers", system-ui;
    --boddy-poppins-font-family: "Poppins", sans-serif;
}

/* Fondo del HTML */
html body {
    background-color: var(--empwf-background-web);
}

/* Contact section */
#contact-section {
    background-color: var(--empwf-background-web);
    font-family: var(--boddy-poppins-font-family);
    color: var(--empwf-purple);
}

/* Contact section h2 */
#contact-section h2 {
    font-family: var(--teachers-title-font-family);
    font-weight:700;
    color: var(--empwf-magenta);
}

/* Contact section p */
#contact-section p {
    font-size: 18px;
}

/* Span Label Contact Form */
.span-label-contact-form {
    color: var(--empwf-magenta);
    font-size: 16px;
}

/* Style contact btn */
.contact-btn {
    color: var(--empwf-background-web);
    background-color: var(--empwf-magenta);
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    transition: all .4s ease;
}

/* Style contact btn hover */
.contact-btn:hover {
    color: var(--empwf-background-web);
    background-color: rgba(137, 0, 234, 0.826);
    transform: scale(1.1); /* Hace que el botón se expanda */
}

/* Estilo para la línea vertical */
.separator {
    border-left: 1px solid var(--empwf-purple);
    height: 100%; /* Ocupa el 100% de la altura de su contenedor */
}

/* Ajustar el tamaño de la fuente del h2 en text-contact solo en pantallas pequeñas */
@media (max-width: 768px) {
    #contact-section .text-contact {
        text-align: center;
    }

    #contact-section .text-contact h2 {
        font-size: 24px; /* Ajusta el tamaño según tus necesidades */
    }
}

/* Ajustes para que no se empalmen el header con contact section */
#contact-section {
    padding-top: 100px; /* Padding superior para pantallas medianas y grandes */
}

@media (max-width: 768px) {
    #contact-section {
        padding-top: 60px; /* Padding reducido para pantallas pequeñas */
    }
}
