
.footer-container {
    margin-top: 50px;
}
.footer-item-icon {
    font-size: 2rem; 
    color: var(--white);
}
.link-item{
    color: var(--white);
}
@media (min-width: 768px) {
    .footer-brand {
        text-align: start;
    }
    .footer-links {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        gap: 2.5rem;
    }
    .link-item {
        margin-bottom: 0px;
    }
    .footer-redes {
        display: flex;
        justify-content: end;
        align-items: center;
    }
}