:root {
    --magenta:#AA3378;
    --pastel-pink: #FFC2CF;
    --pastel-purple: #EBB8DB;
    --purple: #763682;
    --dark-purple: #2A003A;
    --light-purple: #EFE9F1;
    --white: #fefefe;

    --bs-form-valid-color: #AA3378;
 }
 
/********** Globales **********/
h1,h2,h3,h4,h5,h6{
    font-family: "Lora", serif;
    font-weight: 600;
    font-style: italic;
}

h1 { font-size: 48px; }
h2 { font-size: 40px; }
h3 { font-size: 32px; }

.text-body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.brand-messaging {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-bottom: 2.5rem;
}

.text-style-light { color: #fefefe; }
.text-style-dark { color: #2A003A; }
.text-style-magenta { color: #AA3378; }

.bg-light-purple { background-color: var(--light-purple); }
.bg-dark-purple { background-color: var(--dark-purple); }
.bg-magenta { background-color: var(--magenta); }

.logo {
    color: var(--dark-purple);
    text-decoration: none;
    font-weight: 800;
    font-size: 28px;
}

.white-logo {
    color: var(--white);
}

.logo span {
    color: var(--magenta);
}


.form-control, .form-check-input {
    border: none;
}

.form-control:focus, .form-check-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: none;
}

.form-control:focus {
    border-bottom: 4px solid var(--pastel-purple) !important;
    transition: none !important;
}


#form-btn {
    color: var(--white);
    background-color: var(--magenta);
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins';
    width: 200px;
}


#form-btn:hover {
    background-color: var(--purple);
    transform: scale(1.1); 
    transition: all .1s ease;
}
    


.form-check-label, .form-check-input:valid, .form-check-input:checked  {
    color: var(--magenta);
}

.form-check-input:checked  {
    background-color: var(--magenta);
    border: none;
}