body {
    padding-top: 100px;
}
.product-info {
    color: var(--dark-purple);
    font-family: "Poppins", sans-serif ;
    margin: 10px 0;
}

.product-name {
     color: #AA3378;
     font-size: 1.5rem;
}

.product-category {
    border: 1px solid var(--magenta);
    border-radius: 20px;
    display: inline;
    font-size: 12px;
    padding: 6px 10px;
    text-transform: lowercase;
}
.product-price {
    font-size: 24px;
    font-weight: 700;
    display: inline;
    color: var(--dark-purple);
}

.card-footer {
    background-color: white;
    border: none;
}


.btn-primary {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    background-color: var(--magenta);
    padding: 10px 15px;
    border: 1.5px solid var(--magenta);
    color: white;
}

.btn-outline-primary {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    border: 1.5px solid var(--magenta);
    color: var(--magenta);
}

.btn-primary:hover,
.btn-primary:active,
.btn-outline-primary:hover,
.btn-outline-primary:active {
    cursor: pointer;
    background-color: #763682 !important;
    border: none;
}

.btn-primary:active,
.btn-outline-primary:active {
   color: var(--white) !important;
   font-weight: 500;
   transform: scale(.9);
}
  
.icon {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white);
    padding: 0px 5px;
}

