body {
    padding-top: 50px;
}

h2 {
    color: #AA3378;
}

span {
    color: #AA3378;
}

label {
    color: #2A003A;
}
/*Boton */
.contact-btn {
    font-size: 16px;
    color: var(--empwf-background-web);
    background-color: var(--empwf-magenta);
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    transition: all .4s ease;
}


