:root {
    --empwf-magenta: #AA3378;
    --empwf-purple: #2A003A;
    --empwf-background-web: #EFE9F1;
    --empwf--pale-pink: #EBB8DB;
    --empwf-pastel-pink: #FFC2CF;
    --teachers-title-font-family: "Teachers", system-ui;
    --boddy-poppins-font-family: "Poppins", sans-serif;
}

/* Span Label Contact Form */
.span-label-contact-form {
    color: var(--empwf-magenta);
    font-size: 16px;}

h1{
    color: #AA3378;
}

#payPage-section{
    background-color:#EFE9F1;
}

#titleCarrito{
    color: #2A003A;
}

#titleResumenDeCompra, #titleMetodoPago, #titleInformacionCompra
{
    color:#2A003A;
}

#titleInformacionEnvio,#subTitleCarrito, #subTotal, #IVA, #total {
    color: #AA3378;

}

p, span{
  font-size: 25px;
  font-family: var(--boddy-poppins-font-family);  
}

#elementbutton{
    font-size: 20px;
    color: var(--empwf-background-web);
    background-color: var(--empwf-magenta);
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    transition: all .4s ease;
    border: none;

}

#cardProduct{
    border: #2A003A;
    border-radius: 3%;
}

#imgProduct{
    border-radius: 5%;
}

.form-group, .form-check-label{
    font-family: var(--boddy-poppins-font-family);
}

.label-contact-form {
    font-size: 16px;
}
/* Span Label Contact Form */
.span-label-contact-form {
    color: var(--empwf-magenta);
    font-size: 16px;
}

.btn-sm{
    font-size: 16px;
    color: var(--empwf-background-web);
    background-color: var(--empwf-magenta);
    
}

.total-for-item{
    background-color: var(--empwf-magenta);
}

.rounded-pill{
    background-color: #2A003A;
}

.buttonComprar{
    font-size: 16px;
    color: var(--empwf-background-web);
    background-color: var(--empwf-magenta);
    border-radius: 15px;
    width: 200px;
    cursor: pointer;
    transition: all .4s ease;
}

.payPage-btn:hover{
    color: var(--empwf-background-web);
    background-color: #763682;
    transform: scale(1.1); /* Hace que el botón se expanda */
}