/* Fondo del HTML */
html body {
    background-color: var(--lightpurple);
}

body {
    padding-top: 100px;
}

/* Contact section */
#contact-section {
    font-family: "Poppins", sans-serif;
    color: var(--dark-purple);
}

/* Contact section p */
#contact-section p {
    font-size: 14px;
}

.label-contact-form {
    font-size: 16px;
}

/* Span Label Contact Form */
.span-label-contact-form {
    color: var(--magenta);
    font-size: 16px;
}

.h1-magenta {
    color: var(--dark-purple);
    font-size: 35px;
}

a {
    color:var(--magenta);
}

.miss-password {
    font-size: 14px;
}

/* Ajustar el tamaño de la fuente del h2 en text-contact solo en pantallas pequeñas */
@media (max-width: 768px) {
    #contact-section .text-contact {
        text-align: center;
    }

    .h1-magenta {
        font-size: 32px; /* Ajusta el tamaño según tus necesidades */
    }
}